<div class="row">
   
   <div class="panel panel-primary">
         <div class="panel-heading">
               <h3 class="panel-title">Panel title</h3>
         </div>
         <div class="panel-body">
               Panel content
         </div>
   </div>
   
   <table class="table table-bordered table-hover">
       <thead>
           <tr>
               <th>username</th>
               <th>email</th>
               <th>phone</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>
               <input type="text" name="" id="input" class="form-control" value="" required="required" title="">
               </td>
               <td> <input type="email" name="" id="input" class="form-control" value="" required="required" title=""></td>
               <td> <input type="password" name="" id="input" class="form-control" value="" required="required" title=""></td>
           </tr>
       </tbody>
   </table>
   
   

     
       

   
</div>
